body { background-color: #f1c40f; }

.jumbotron {
  margin-top: 25%;
  background-color: #2980b9;
  color: #ecf0f1;
}

.temperature-data { font-size: 30px; }

#temperature { margin-top: 20px; }

#units { margin-top: 10px; }

@media (max-width: 500px){
  h2 { font-size: 16px; }
  h3 { font-size: 14px; }
  h4 { font-size: 12px; }
  #temperature { font-size: 16px; }
  #units { 
    font-size: 12px; 
    margin-left: -5px; 
  }
}